/* Base Element Styles */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Alice', serif;
	line-height: 1.6;
	color: #3a3a3a;
	background-color: #fafafa;
}




/*Base Layout Styles*/

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav li{
    background: #fff;
    margin: 5px;
		list-style: none;

}



	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
		text-decoration:none;

	}

	.main-nav a {
		font-size: .95em;
		color: #000;
		text-transform: uppercase;

	}

	.main-nav a:hover {
		color: #000;
	}


	/* ---- Layout Containers ---- */


	h1 {
	    text-align: center;

	}

	h2 {
	    text-align: center;
	}

	h3 {
	    text-align: center;
	}


	p {
    text-align: center;


	}


.main-header {
  padding-top: .5em;
  padding-bottom:.5em;

}



.banner,
.main-footer {
  text-align: center;

}

.banner {
	color: #fff;
	background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 60px;
}

.col {
  padding-right: 1em;
  padding-left: 1em;

}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.portofolio {
	background: #fff;
	margin: 5px;



}

/*Images*/

.student-picture {
    display: block;
    margin-left: auto;
    margin-right: auto }

		img {
		    max-width: 100%;
		    height: auto;
		}

		/*Footer*/

.studentname-footer {
text-align: left;

}

.back-to-top {
	text-align: right;
	text-decoration: none;
	list-style: none;
}
