 /* Base Element Styles */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Alice', serif;
	line-height: 1.5;
	color: #000;
	background-color: #ceede1;
}
/*Base Layout Styles*/
/* ---- Navigation ---- */
.name a {
	font-size: 1.25em;
	margin: 0;
	font-size: 25px;
	text-align: center;
}
.main-nav li {
	background: #fff;
	margin: 5px;
	list-style: none;
	max-width: 90%;
}
.name a,.main-nav {
	display: block;
	text-align: center;
	padding: 10px 1px;
	text-decoration: none;
}
.main-nav a {
	color: #000;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #000;
}
/* ---- Layout Containers ---- */
h2,h3 {
	text-align: center;
}
p.introduction {
	text-align: justify;
	padding: 2%;
    color:dimgrey;
    
}
.portfolio {
	background: #fff;
	display: inline-block;
}
.portfolio-title {
	text-align: center;
}

.p {
    
    text-align: justify;
    
    
}
p.contact {
	text-align: justify;
    padding:10%;
}
p.phone {
	text-align: center;
}
p.e-mail {
	text-align: center;
}
/*Images*/
.student-picture {
	display: block;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto
}
img {
	max-width: 100%;
	display: block;
	margin-left: -20px
}
li {
	list-style: none;
}
/*Footer*/
.line-separator {
	height: 1px;
	border-bottom: 1px solid #c4c2c2;
}
.studentname-footer {
	display: inline-block;
	float: left;
}
.back-to-top {
	display: inline-block;
	float: right;
	list-style: none;
}
.footer-nav {
	display: none;
}
/*link*/
a:link {
   
	text-decoration: none;
	font-size: 18px;
}
/* unvisited link */
a:link {
	color: black;
}
/* visited link */
a:visited {
	color: coral;
}
/* selected link */
a:active {
	color: cadetblue;
}
/*Media Queries*/
@media (min-width: 768px) {
	body {
		padding-top: 5px;
	}
	.main-nav {
		text-align: center;
	}
	.main-nav li {
		display: inline-block;
		margin-right: 1%;
		margin-left: 2%;
		background: none;
        
        
	}
	.student-picture {
		float: right;
		display: inline-block;
		max-width: 35%;
		margin-left: 10%;
		margin-right: 6%;
	}
	p.introduction {
		float: left;
		width: 47.5%
       
            
        
}
	ul.products li {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		*display: inline;
		*zoom: 1;
	}
	ul.products {
		margin-left: 1%;
		margin-right: auto;
	}
	ul.footer-nav {
		display: inline-block;
		list-style-type: none;
		float: right;
	}
	li {
		display: inline;
		padding-right: 20px;
	}
	.back-to-top {
		display: none;
	}

	
	@media (min-width: 1024px) {
		.name {
			float: left;
			margin: 0 1%;
			padding: 0 2px;
		}
		.main-nav {
			display: inline-block;
			float: right;
			min-width: 350px;
		}
		.profile {
			margin-top: 100px;
		}
		.student-picture {
			float: right;
            padding: 2em;
		}
		p.introduction {
			float: left;
            font-size:17px;
            text-align:justify;
           
            
        }
		
		ul.products li {
			width: 33%;
			display: inline-block;
			vertical-align: top;
			*display: inline;
			*zoom: 1;
		}
		ul.products {
			margin-left: 1%;
			margin-right: auto;
		}
		p {
			text-align: justify;
		}
        
        
     